In [3]:
import pandas as pd
file = pd.read_excel("SampleData2.xlsx")

X = file.drop(columns = ["Y"])
Y = file["Y"]


from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3)


from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

model = linear_model.LinearRegression()
model.fit(X_train, Y_train)

prediction = model.predict(X_test)


print('Coefficients:', model.coef_)
print('Intercept: %.2f' %model.intercept_)
print('Mean squared error(MSE): %.2f' 
     % mean_squared_error(Y_test, prediction))
print('Coeffiecient of determination (R^2): %.2f'
     % r2_score(Y_test,prediction))

prediction

Coefficients: [1. 2. 3.]
Intercept: 0.00
Mean squared error(MSE): 0.00
Coeffiecient of determination (R^2): 1.00

array([134.,  32.])

In [2]:
X_test

   x1  x2  x3
2  11  12  13
3  21  22  23